.page {
    height: 100%;
    background-color: var(--primary-background);
    /*border-bottom-left-radius: 20px;*/
    /*border-bottom-right-radius: 20px;*/
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    gap: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 14px;
}

.spacer {
    width: 44px;
    height: 44px;
}

.ticket {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: white;
    border-radius: 15px;
    padding: 20px 15px;
}

.ticket_header {
    display: flex;
    gap: 12px;
    padding-bottom: 16px;
    border-bottom: 1px dashed #e7e7e7;
}

.ticket_header_img {
    border-radius: 12px;
    /*width: 85px;*/
    min-width: 85px;
    height: 85px;
}

.ticket_header_details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ticket_header_details__title {
    font-weight: 800;
    font-size: 14px;
}

.ticket_header_details__res {
    font-weight: 700;
    font-size: 12px;
    color: var(--grey);
}

.ticket_details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 16px;
    border-bottom: 1px dashed #e7e7e7;
}

.ticket_details_row {
    display: flex;
}

.ticket_details_row_obj {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 50%;
}

.ticket_details_row_obj__title {
    font-weight: 700;
    font-size: 14px;
    color: var(--grey);
}

.ticket_details_row_obj_cont {
    font-weight: 800;
    font-size: 14px;
    color: var(--black);
}

.bgImage {
    background-size: cover;
    background-position: center;
}