:root {
    --primary-background: #fff;
    --secondary-background: #f4f4f4;
    --third-background: #eeeeee;
    --red: #ca0e11;
    --grey: #989898;
    --dark-grey: #545454;
    --light-grey: #D0D0D0;
    --secondary-light-grey: #F9F9F9;
    --black: #000;
    --popup-background: #58585869;
}

body {
    background: var(--secondary-background, white);
    padding: 0;
    margin: 0;
    width: 100%;
}

* {
    color: var(--black);
    text-decoration: none;
}

.swiper-wrapper {
    gap: 8px;
    -webkit-column-gap: 8px;
}

@font-face {
    font-family: 'Mont';
    src: url('/fonts/Mont-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('/fonts/Mont-Blanc-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Heading Pro Ultracompressed';
    font-weight: 800;
    src: url('/fonts/Heading-Pro-UltraCompressed-ExtraBold-trial.ttf') format('truetype');
    font-style: normal;
}


