.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    font-family: "Mont", sans-serif;
    line-height: 1.125em;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px #D0D0D024, -4px -4px 8px 0px #D0D0D024;
    padding: 22px 10px 20px;


}

.react-calendar__navigation__label__labelText {
    font-family: "Mont", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 16px;
}

.react-calendar__tile:disabled {
    background-color: white;

    abbr {
        color: var(--medium-grey);
    }
}

.react-calendar__tile {
    abbr {
        font-weight: 700;
        font-size: 16px;
        color: black;
    }
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: white;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: white;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: white;
}

.react-calendar__tile--now {
    background: white;
}

.react-calendar__tile--active {
    background: white;

    abbr {
        color: var(--red) !important;
    }
}

.react-calendar__navigation button:disabled {
    background: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: white;
}
