.popup {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 20px 15px;
    gap: 32px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    span {
        font-family: 'Mont', sans-serif;
        font-weight: 800;
        font-size: 20px;
    }
}

.buttons {
    display: flex;
    gap: 8px;
}